.button1{
    font-size: medium;
    border: none;
    text-align: center;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
    text-decoration: none;
    color: #000a64;
    background: #d7e2f3;
    border-bottom: solid 4px#4d61b8;
    transition: .4s;
}
.button1:hover{
    background: #4d61b8;
    color: #FFF;
}
#loginch{
    border: double;
    padding: 15px;
}