/*<!--header-->*/
html{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.headermenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 20px;
    gap:5px;
}
.headermenu .button1 {
    text-decoration: none;
    background: #7bd65f;
    color: #fff;
    margin: 0px;
    padding: 10px;
    text-align: center;

}
.headermenu .button1:hover {
    color: rgb(100, 48, 6);
}
/*index time*/
.time{
    margin: 10px;
}
/*main*/
.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.button2 {
    text-decoration: none;
    text-align: center;
    background-color: royalblue;
    color: #fff;
    padding: 12px;
}
.button3 {
    text-decoration: none;
    text-align: center;
    background-color: royalblue;
    color: #fff;
    padding-top: 90px;
}
.button2:hover {
    color: rgb(31, 19, 138);
}
.button3:hover {
    color: rgb(31, 19, 138);
}
.img img{
    display: grid;
}
.ar_pop{
    text-align: center;
}
.ar_new{
    text-align: center;
}
/*name*/
.nameForm {
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(#7bd65f, #f5f5f5);
    width: 70vw;
    height: 350px;
    /*border-width: thick;
    border-style: double;
    border-color: royalblue;*/
}
/*reserch*/
.sortmenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px;
    gap:5px;

}
.search_res{
    font-size: 24px;
    text-align: center;
}
#inputkeyword {
    height: 20px;
    width: 240px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 6px 24px;
    font-size: 20px;

}
#searchbtn {
    height: 32px;
    width: 60px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 2px 8px;
}
/*new*/
#new {
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(#7bd65f, #f5f5f5);
    width: 70vw;
    height: 500px;
}
textarea{
    resize : both; 
}
.newthr{
    text-align: right;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
    margin: 20px;
}
#title{
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
#pass{
    border: none;
    border-radius: 4px;
    box-shadow: none; 
}
#comment{
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
/*header*/

/*footer*/
#footer {
    text-align: center;
}
#returnbtn {
    margin-top: 25px;
    padding: auto;
    font-size: 15px;
}
/*name*/
#name{
    text-align: center;
}
#chenge{
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
    border: solid;
    border-width: 2px;
    background: #b7e5a8;
    width: 35vw;
    height: 50px;
    margin-bottom: 10px;
}
.namae{
    text-align: center;
}
.nic{
    text-align: right;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr;
}
#newname{
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
.make{
    text-align: center;
}
.button5{

    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    background: #7bd65f;
    color: #fff;
    margin: 0px;
    padding: 10px;
}
.button5:hover {
    color: rgb(31, 19, 138);
}