/*--header.html footer.html index.html help.html--*/
/*html主要なデザイン変更*/
/*<!--header-->*/
body{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
main{
    width: 100;
    padding: 20px;
}
header img{
    display: grid;
    margin-left: auto;
    margin-right: auto; 
    width: 50vw;  
}
.headermenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 20px;
    gap:5px;
}
.headermenu .button1 {
    text-align: center;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #2bb866;
    background: #e1f3e0;
    border-bottom: solid 4px#2bb866;
    border-radius: 15px 15px 0 0;
    transition: .4s;
}
.headermenu .button1:hover {
    background: #2bb866;
    color: #FFF;
}
.login_name{
    font-size: 20px;
    text-align: left;
}
/*index time*/
.time {
    font-size: 10px;
    margin: 1px;
    text-align: center;
}
.timer{
    border:2px solid #666; 
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 20px; 
}
.time2 input[type="radio"] + label{
    cursor        : pointer;           
        /* カーソル設定 */
    transition    : .2s;  /* なめらか変化 */
}
.time2 input[type="radio"] + label:hover{
    background:  #b6dac5;
    border-radius: 5px;
    padding: 1px;
    color: #106433;
}
.search_container{
    position: relative;
    box-sizing: border-box;
  }
  .search_container input[type="text"]{
    border: none;
    height: 1.8em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container{
    border: 2px solid #3879D9;
    padding: 3px 5px;
    border-radius: 20px;
    height: 2.2em;
    width: 265px;
    overflow: hidden;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    background: #3879D9;
    color: #fff;
    position: absolute;
    width: 3.5em;
    height: 3.0em;
    right:0px;
    top: -5px;
    outline : none;
  }
  .search_container ::-webkit-input-placeholder {
    color: #3879D9;
  }
  
/*main*/
.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.button2 {
    text-decoration: none;
    text-align: center;
    background-color: royalblue;
    color: #fff;
    padding: 12px;
}
.button3 {
    text-decoration: none;
    text-align: center;
    background-color: royalblue;
    color: #fff;
    padding-top: 90px;
}
.button2:hover {
    color: rgb(31, 19, 138);
}
.button3:hover {
    color: rgb(31, 19, 138);
}
.img img{
    display: grid;
}
.ar_pop{
    text-align: center;
}
.ar_new{
    text-align: center;
}

.cen{
    text-align: center;
    font-size: 40px;
}
/*header*/

/*footer*/
#footer {
    display: grid;
    text-align: center;
    width: 100%;
}
.copylight{
    display: grid;
    background-color: rgb(159, 197, 175);
    border-radius: 3px;
    padding: 5px;
}
#returnbtn {
    margin-top: 105px;
    padding: auto;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
   /* display: inline-block;*//*横に並んでいる*/
    font-weight: bold;
    padding: 8px 20px 5px 20px;
    text-decoration: none;
    color: #fff;
    background:#757575;
    border-bottom: solid 4px#a3e6bf;
    border-radius: 15px 15px 0 0;
    transition: .4s;  
}
#returnbtn:hover {
    background: #a5a4a4;
    color: #FFF;
}

.make{
    display: grid;
    width: 50vw;
}
.make .button5{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   /* display: inline-block;*//*横に並んでいる*/
    font-weight: bold;
    padding: 8px 50px 5px 50px;
    text-decoration: none;
    color: #2bb866;
    background: #e1f3e0;
    border-bottom: solid 4px#2bb866;
    border-radius: 15px 15px 0 0;
    transition: .4s;
}
.make .button5:hover {
    background: #2bb866;
    color: #FFF;
}