/*<!--header-->*/
html{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.headermenu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
    margin-bottom: 20px;
    gap:5px;
}
.headermenu .button1 {
    text-decoration: none;
    background: #7bd65f;
    color: #fff;
    margin: 0px;
    padding: 10px;
    text-align: center;

}
.headermenu .button1:hover {
    color: rgb(100, 48, 6);
}
/*main*/
.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.button2 {
    text-decoration: none;
    text-align: center;
    background-color: royalblue;
    color: #fff;
    padding: 12px;
}
.button3 {
    text-decoration: none;
    text-align: center;
    background-color: royalblue;
    color: #fff;
    padding-top: 90px;
}
.button2:hover {
    color: rgb(31, 19, 138);
}
.button3:hover {
    color: rgb(31, 19, 138);
}
.img img{
    display: grid;
}
/*name*/
.nameForm {
    text-align: center;
    border-width: thick;
    border-style: double;
    border-color: royalblue;
}
/*reserch*/

#inputkeyword {
    height: 20px;
    width: 240px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 6px 24px;
    font-size: 20px;

}
#searchbtn {
    height: 32px;
    width: 60px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    padding: 2px 8px;
}
/*new*/
#new {
    text-align:left;
    padding-top: 20px;
    padding-left: 100px;
    border-color: royalblue;
    color: #fff;
    background-color: rgb(123, 144, 204);
}
textarea{
    resize : both; 
}
/*header*/
#header {
    text-align: center;
}
/*footer*/
#footer {
    text-align: center;
}
#returnbtn {
    padding: 6px 24px;
    font-size: 20px;
}