/*--name.php reserch.php new.php thread.php--*/

/*name.php*/
/**/
.nameForm {
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient(#7bd65f, #f5f5f5);
    width: 70vw;
    height: 350px;
    /*border-width: thick;
    border-style: double;
    border-color: royalblue;*/
}
#name{
    text-align: center;
}
#chenge{
    margin-left: auto;
    margin-right: auto;
    padding-bottom:10px;
    border: solid;
    border-width: 2px;
    background: #b7e5a8;
    width: 35vw;
    height: 50px;
    margin-bottom: 10px;
}
.namae{
    text-align: center;
}
.nic{
    text-align: right;
    display: grid;
    grid-template-columns: 0.4fr 0.5fr;
}
#newname{
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
h1{
    font-size: 50px;
}
/*---------------------------------------------------------*/

/*reserch.php*/
/**/
.sortmenu {
    position: absolute;
    top: -15px;
    right: 5px;
    display: grid;
    margin: 5px;
    gap:5px;
    text-align: right; 
}
.search_res{
    font-size: 24px;
    text-align: center;
}
#reserch{
    font-size: 10px;
    text-align: center;
}
.reserch-form{
   /* position:relative;/*フォームの相対位置*/	
    max-width:270px;/*フォームのサイズ*/
    margin-bottom:15px;/*フォームの下に余白*/  
}
#inputkeyword {
    /*position:absolute;/*フォームの絶対位置*/
    left:0;
    top:0; 	
    border:none;
    outline:0;/*クリック時の青い枠線消す*/	
    height:50px;/*検索ボックスの高さ*/	
    padding:0 10px;/*テキスト位置調整*/	 
    border-radius:2px 0 0 2px;/*検索ボックスの角を丸める*/		
    background:#eee;/*検索ボックスの背景カラー*/		

}
#searchbtn {
    width:70px;/*検索ボタンの横幅*/ 
    height:50px;/*検索ボタンの縦幅*/ 
    /*position:absolute;/*検索ボタンの絶対位置*/  
    left:270px;/*検索ボタンの位置調整*/  
    top:0;
    border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
    background:#5ead76;/*検索ボタンの背景カラー*/ 
    border:none;/*検索ボタンの枠線を消す*/ 
    color:#fff;/*検索ボタンのテキストカラー*/ 
    font-weight:bold;/*検索ボタンのテキスト太字*/ 
    font-size:16px;/*検索ボタンのフォントサイズ*/ 
}
#searchbtn:hover{
    color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}
/*---------------------------------------------------------*/

/*new.php*/
/**/
#new {
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    background: linear-gradient( #2bb866,  #e1f3e0);
    width: 70vw;
    height: 500px;
}
textarea{
    resize : both; 
}
.newthr{
    text-align: center;
    display: grid;
    grid-template-columns: 0.2fr 0.5fr;
    /*position: fixed;*/
    margin: 20px;
}
.ispublic{
    margin: auto;
}
.submit{
    text-align:center;
    margin: 10px;
}
.submit_thr{
    text-align:right;   
    position: absolute;
    top: 28px;
    right: 10px;

}
.submit_com{
    text-align:right;   
    position: absolute;
    bottom: 5px;
    right: 5px;

}
.submitbtn{
    /* margin-top: 5vh;
    text-align: center;
     */
     font-size: medium;
     border: none;
     text-align: center;
     font-weight: bold;
     padding: 3px 10px 3px 10px;
     text-decoration: none;
     color: #000a64;
     background: #d7e2f3;
     border-bottom: solid 4px#4d61b8;
     transition: .4s;     
}
.submitbtn:hover{
    background: #4d61b8;
    color: #FFF;
}
.submitbtn_own{
    /* margin-top: 5vh;
    text-align: center;
     */
     text-align: center;
    /* display: inline-block;*//*横に並んでいる*/
     font-weight: bold;
     padding: 8px 10px 5px 10px;
     text-decoration: none;
     color: #41393b;
     background: #e1f3e0;
     border: none;
     border-bottom: solid 3px#b165a7;
     transition: .4s;
}
.submitbtn_own:hover{
    background: #b165a7;
    color: #FFF;
}
.submitbtn_com{
    /* margin-top: 5vh;
    text-align: center;
     */
     border: none;
     text-align: center;
     padding: 3px 10px 4px 10px;
     text-decoration: none;
     color: #88672b;
     background: #f3f0e0;
     border-bottom: solid 3px#e5e49d;
     transition: .4s;
}
.submitbtn_com:hover{
    background: #e5e49d;
    color: rgb(95, 95, 95);
}
.submitbtn_mv{
    border: none;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    padding: 3px 10px 4px 10px;
    text-decoration: none;
    color: #2b8830;
    background: #f3f0e0;
    border-bottom: solid 3px#1d5f2d;
    transition: .2s;
}
.submitbtn_mv:hover{
    background: #1d5f2d;
    color: rgb(255, 255, 255);
}
#title{
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
#pass{
    border: none;
    border-radius: 4px;
    box-shadow: none; 
}
#comment{
    border: none;
    border-radius: 4px;
    box-shadow: none;
}
#password{
    border: none;
    border-radius: 4px;
    box-shadow: none;

}
.password-check{
    margin-left: 15vw;
    font-size: 15px;

}
/*---------------------------------------------------------*/

/*thread.php*/
/**/
.thread{
    padding: 10px;
    background-color: rgb(219, 233, 181);
    position: relative;
}
.aab{
    border: 10px;
    text-align: left;
    background-color: rgb(73, 134, 60);
    padding: 10px;
}
.abc{
    border: 10px;
    text-align: left;
    background-color: rgb(185, 185, 185);
    padding: 10px;
    position: relative;
}
.abcd{
    border: 10px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    position: relative;

}
.aab dt{
    text-align: right;
}
.thread_id{
    text-align: center;
}
#s_menu{
    padding: 5px;
}

/* ともき追加分 */
.favbtn{
    display: flex;
}
.favbtn input[type='radio']{
    display: none;
}
.favbtn label{
    position: relative;
    padding: 10px 10px 0;
    color: gray;
    cursor: pointer;
    font-size: 50px;
}
.favbtn label:hover, .favbtn label:hover ~ label, .favbtn input[type='radio']:checked ~ label{
    color: gold;
}
#message{
    margin-top:10px;
    resize: none;
    width:70vw;
    height:100px;
    font-size: 23px;
}
/*---------------------------------------------------------*/
/* 前へ次へボタン */

.btn-sticky1 {
    /* position: absolute;
    top: 8px;
    left: 150px; */
    margin-top: 8px;
    margin-left: 15%;
    float: left;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #80bb9e;/*左線*/
    color: #80bb9e;/*文字色*/
    font-weight: bold;
    /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29); */
  }
  .btn-sticky1:active {
    /* box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1); */
    transform: translateY(2px);
  }
  .btn-sticky1:hover{
    background-color:#80bb9e;
    color: #e1f3e0;
    transition: .4s;
   }
  .btn-sticky2 {
    /* position: absolute;
    top: 8px;
    right: 150px; */
    margin-top: 8px;
    margin-right: 15%;
    float: right;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-right: solid 6px  #258656;/*右線*/
    color:  #258656;/*文字色*/
    font-weight: bold;
    /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);*/
  }
  .btn-sticky2:active {
    /*box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);*/
    transform: translateY(2px);
  }
  .btn-sticky2:hover{
   background-color:   #258656;
   color: #e1f3e0;
   transition: .4s;
  }
  .arrow{
      text-align: center;
  }

/* 吉川追加分 */
/* index.php */

#thread_menu{
    text-align: center;
}

.thread_research{
    border: 5px;
    text-align: center;
    background-color: rgb(60, 134, 130);
    padding: 5px;
}

.count {
    display: grid;
    margin-top: 5px;
    text-align: center; 
}

.thread_status{
    margin: 5px;
}

.search_result{
    height: 70px;
    position: relative;
}

.search_count{
    position: absolute;
    top: 8px;
    left: 10px;
    font-weight: 700;

}

.display_thread{
    border: solid;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    height: 150px;
    position: relative;
}

.move_thread{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

input #thread_submit{
    width: 50px;
    height: 35px;
    font-size: 16px;
}

.thread_user{
    position: absolute;
    top: 10px;
    left: 20px;
}

.thread_info{
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 6px;
}

.thread_title{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 18px;
    font-weight: 700;
}

.front-next{
    border: solid;
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 2px;
    position: relative;
}

.good_button{
    background-color: rgb(168, 238, 177);
}

.hukidasi{
    position: relative;
}

.good_number_1{
    position: absolute;
    top: -8px;
    left: 10px;
}

.good_number_2{
    position: absolute;
    top: -8px;
    left: 12px;
}

.good_number_3{
    position: absolute;
    top: -8px;
    left: 14px;
}


